.ButtonSection{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Button{
    width: 120px;
    height: 35px;
    border-radius: 5px;
    border-style: none;
    margin-bottom: 30px;
    color: aliceblue;
    background-color: rgba(255, 247, 22, 0.142);
    cursor: pointer;
    transition: transform 1000ms cubic-bezier(0.075, 0.82, 0.165, 1), 
    background-color 1000ms cubic-bezier(0.39, 0.575, 0.565, 1);
    box-shadow: 3px 3px 6px 1px rgba(3, 37, 37, 0.873);
    text-shadow: 1px 1px 2px black, 0 0 1em rgb(238, 255, 0), 0 0 0.2em rgb(255, 204, 0);
}

.Button:hover{
    background-color: rgba(8, 8, 8, 0.778);
    transform: scale(1.1);
}
