.Form{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    margin-bottom: 30px;
}

.Input{
   font-family: 'Linux';
    width: 330px;
    height: 35px;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 4px;
    padding-left: 24px;
    border-radius: 5px;
    border-style: none ;
    color: #ffffff;
    text-shadow: 0 1px 0 rgb(165, 163, 163),
    0 5px 0 rgb(32, 31, 31),
    0 6px 1px rgba(0, 0, 0, 0.589),
    0 0 5px rgba(0, 0, 0, 0.516),
    0 1px 3px rgba(0, 0, 0, 0.701),
    0 3px 5px rgba(0, 0, 0, 0.707),
    0 5px 10px rgba(0, 0, 0, 0.738),
    0 10px 10px rgba(0, 0, 0, 0.616),
    0 20px 20px rgba(0, 0, 0, 0.862);
    background:rgba(5, 71, 76, 0.599) radial-gradient(circle, rgba(133, 255, 2, 0.378) 2%, rgba(148, 233, 196, 0.449) 100%);
    box-shadow: 3px 3px 6px 1px rgba(2, 74, 84, 0.742);
}

.Button{
    width: 120px;
    height: 35px;
    border-radius: 5px;
    border-style: none;
    margin-left: 10px;
    color: aliceblue;
    background-color: rgba(255, 247, 22, 0.142);
    cursor: pointer;
    transition: transform 1000ms cubic-bezier(0.075, 0.82, 0.165, 1), 
    background-color 1000ms cubic-bezier(0.39, 0.575, 0.565, 1);
    box-shadow: 3px 3px 6px 1px rgba(3, 37, 37, 0.873);
    text-shadow: 1px 1px 2px black, 0 0 1em rgb(238, 255, 0), 0 0 0.2em rgb(255, 204, 0);
}

.Button:hover{
    background-color: rgba(8, 8, 8, 0.778);
    transform: scale(1.1);
}